[user]
	email = shilling.jake@gmail.com
	name = Jake Shilling
	signingkey = 47BBC0300141D21B
[gitlab]
	user = shilling.jake
[github]
	user = j-shilling
[core]
	editor = emacs
	autocrlf = input
	whitespace = -trailing-space,-space-before-tab,-cr-at-eol
[init]
	defaultBranch = main
[merge]
	ff = false
	log = true
	renormalize = true
[pull]
	rebase = true
[fetch]
	prune = true
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[gitlab "api.BALT-GITLAB-02.securityevaluators.com/api/v4"]
	user = jshilling
[gitlab "BALT-GITLAB-02.securityevaluators.com/api/v4"]
	user = jshilling
[commit]
	gpgsign = true
[pgp]
	program = gpg
[gpg]
	program = gpg
